.CommentaryReadNavButtons__outer-container {
    position: fixed;
    top: 100px;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.CommentaryReadNavButtons__mobile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
}

.CommentaryReadNavButtons__menu-button {
    font-size: 30px;
}

.CommentaryReadNavButtons__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;    
    width: 100%;
}

.CommentaryReadNavButtons__nav {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.CommentaryReadNavButtons__nav.hidden {
    display: none;
}

.CommentaryReadNavButtons__button {
    margin: 0;
    padding: 5px;
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
    background-color: blue;
    color: white;
}

.CommentaryReadNavButtons__button.selected {
    color: white;
    background-color: darkblue;
}

@media screen and (min-width: 900px) {
    .CommentaryReadNavButtons__nav.hidden {
        display: flex;
    }

    .CommentaryReadNavButtons__mobile-container {
        display: none;
    }
}