.CommentaryReadNavArrows__arrow.hidden {
    display: none;
}

.CommentaryReadNavArrows__outer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.CommentaryReadNavArrows__outer-container.no-prev {
    flex-direction: row-reverse;
}
