@import url(//db.onlinewebfonts.com/c/ab3994e9faadf598b1e5d39923cf7aaf?family=Linotype+Trajanus);

body {
  margin: 0;
  font-family: trajan-sans-pro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  width: 100%
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h5 {
  font-family: trajan-pro-3;
}

p {
  font-family: Linotype Trajanus;
  font-weight: 200;
}

.hidden {
  display: none;
}
